html {
  font-family: "Noto Serif", serif;
}

hr {
  border-color: #70ad55;
  border-width: thin;
}

fieldset {
  border-style: none;
}

footer, header {
  background-color: #70ad55;
  color: #fff;
}

.no-auto-margin {
  margin-left: 0;
  margin-right: 0;
}

input[type="checkbox"] + label::before {
  border-color: #6e8c62;
}

input[type="radio"] + label::before {
  border-color: #6e8c62;
}

input, textarea, select {
  border-color: #6e8c62;
}
